<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%=  homeStartingContentPage %></p>
 <!-- for (index = 0; index < globalArrayPosts.length; index++) -->
 <% globalArrayPosts.forEach( function(globalArrayPost){ %>
   <h1> <%= globalArrayPost.title %>   </h1>
   <p>  <%= globalArrayPost.content.substring(0,100) %> ...</p>
<%  })  %>

<%- include('partials/footer'); -%>
